@import 'tailwindcss';

@theme {
  --color-primary-50: #e0faee;
  --color-primary-100: #bdf4da;
  --color-primary-200: #80eab8;
  --color-primary-300: #3ee094;
  --color-primary-400: #1db46d;
  --color-primary-500: #137547;
  --color-primary-600: #0f5c38;
  --color-primary-700: #0b462b;
  --color-primary-800: #08301d;
  --color-primary-900: #04160d;
  --color-primary-950: #020d08;

  --color-secondary-50: #d2e3fe;
  --color-secondary-100: #a5c7fd;
  --color-secondary-200: #4b8efc;
  --color-secondary-300: #045deb;
  --color-secondary-400: #033991;
  --color-secondary-500: #011638;
  --color-secondary-600: #01122d;
  --color-secondary-700: #010e23;
  --color-secondary-800: #000814;
  --color-secondary-900: #00040a;
  --color-secondary-950: #000205;
}

html, body {
    height: 100%;
}

body {
    font-size: .875rem;
    font-weight: 500;
}

.lucide {
    stroke-width: 2.25px;
}